<div class="map__card">
  <h1>Адрес: ул. Южное ш., 12б, Нижний Новгород, Нижегородская обл., 603123</h1>
  <div class="map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/district/221011740432/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">District</a><a href="https://yandex.ru/maps/47/nizhny-novgorod/category/pizzeria/184106392/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Пиццерия в Нижнем Новгороде</a><a href="https://yandex.ru/maps/47/nizhny-novgorod/category/cafe/184106390/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Кафе в Нижнем Новгороде</a><iframe src="https://yandex.ru/map-widget/v1/-/CCURI-g3GA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
</div>

