<div  class="catalog">
  <div class="catalog__title"><h1>Меню</h1></div>
  <div class="catalog__menu">
    <div class="catalog__container">
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2F1qArvHQhI5aC42cKd3mIyxRPLVH921IM.png&sign=aHHALLnGUrBRaSjUMPodLi5bFBauwgE9VCVUUqveqVo">
        <div class="card__discription">
          <p>Грибная</p>
          <p>тесто, сыр моцарелла, шампиньоны, соус "Ранч", сметанный соус</p>



        </div>

        <div class="card__button">
          <p class="card__price">150р/шт</p>

          <button (click)="Caountplus()">Купить</button>
        </div>

      </div>
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2Fv3l5gSWHr6SKX5Jm2FJe72ozIuD_SlLL.png&sign=xz-T9ViZoNYGiqIul42ZJ1fTJFIYci9iBe-tM8JGHWY">
        <div class="card__discription">
          <p>Маргарита </p>
          <p>тесто, томатный соус, сыр моцарелла, томаты, сметанный соус</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FqhK_fr7ldBLufv5gdAdX_NNY0WPH8maO.png&sign=NTa7LAzewIHCBnYFszHGmY2oVz9nclk1jRY8FRqYUjA">
        <div class="card__discription">
          <p>Барбекю</p>
          <p>тесто, сыр моцарелла, шампиньоны, соус "Ранч", сметанный соус</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>

    </div>
    <div class="catalog__container">
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FTCW3vmt1OXbTtvSpAoxplkgNqUe4bbDv.png&sign=KCpqkO3yHoIBzg0xMoPBQq-RjeAChbaSLA1ROW2OtPk">
        <div class="card__discription">
          <p>Цезарь </p>
          <p>тесто, соус «Цезарь», сметанный соус, сыр моцарелла, копчёная курица, томаты, салат айсберг, сыр пармезан</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FnSqnJpatdAJ2senLBEu2GsQU6lPnnwY-.png&sign=VoxObNIoj7m956SkiGA044wmVUgHjlWsnQPxAQM7gZw">
        <div class="card__discription">
          <p>Ветчина-грибы</p>
          <p>тесто, томатный соус, ветчина, шампиньоны, болгарский перец, сыр моцарелла, сметанный соус</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FTVL2izZ8Kt4bC50fvNyW5vCvO518FSZh.png&sign=aDzFk3jhoCCRLUw6FYrf8nIvpwn7ZRP-lPl03yMv65c">
        <div class="card__discription">
          <p>Весёлая креветка</p>
          <p>тесто, тунцовый соус, креветки, томаты, сливочный сыр, сыр моцарелла, сметанный соус</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()">Купить</button>

        </div>

      </div>
    </div>

    <h1 class="menu-m">Напитки</h1>
    <div class="catalog__container">
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FAMfqzeYmB16Uv3N_0fV9VLOhLdm93WfA.png&sign=62ENbMke8Oz852UpPdanNytJbrD_rfwlBEzDCM070tY">
        <div class="card__discription">
          <p>Coca-cola</p>
          <p>Вес: 500 г.
            Калорийность: 42 Ккал / 0 кДж на 100 г.</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FLOgH3EdNMqW5RuzbgLGJQIFdmTs4krYy.png&sign=cmLhcfR86HOCy6MGAdsSl208i_o9ia_n-qy3MN0uB2Y">
        <div class="card__discription">
          <p>Bon Aqua негазированная
          </p>
          <p>Вес: 500 г.
          </p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FiuMrc06TeDIJUx6YJ6Ecf5IIjyyAzqnN.png&sign=aD7jw4DyJT9DB248PfH4ZLm0_HwhOyuFi0yIoA7hWF0">
        <div class="card__discription">
          <p>Напитки из Черноголовки Байкал
          </p>
          <p>Вес: 500 г.
            Калорийность: 37 Ккал / кДж на 100 г.</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>

    </div>
    <div class="catalog__container">
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FYE5VBZqs5mUiNGv00pPz0wFgsV8On3B-.png&sign=CnED1aZq3uHigKKn0Fk2Imrg1L4e0leNVRshfiytf-w">
        <div class="card__discription">
          <p>Морс домашний Клюква
          </p>
          <p>Вес: 250 г.
            Калорийность: 45 Ккал / 100 кДж на 100 г.</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FOwWaGRz2n4yulEYqBN-xzlhOBWOr34lD.png&sign=6lID2hXPjM_E2pF92sb9eJOJqTROHk0kpqp_c5ycFRg">
        <div class="card__discription">
          <p>Морс домашний Облепиха
          </p>
          <p>Вес: 200 г.
            Калорийность: 45 Ккал / 100 кДж на 100 г.</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()" >Купить</button>
        </div>

      </div>
      <div class="catalog__card">
        <img src="https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FT4wISqzEKSbKnBWR9jRuvh24TorOtvrw.png&sign=h-S5s6pS9hCiqvAu73ESnHyoWcpkrZo-gdl2hGj8pEk">
        <div class="card__discription">
          <p>Морс домашний Черная смородина
          </p>
          <p>Вес: 200 г.
            Калорийность: 50 Ккал / 100 кДж на 100 г.</p>


        </div>
        <div class="card__button">
          <p class="card__price">150р/шт</p>
          <button (click)="Caountplus()">Купить</button>
        </div>

      </div>
    </div>




  </div>
</div>
