<div  class="content">
  <div class="text-menu"><h1>Меню</h1></div>
  <div class="main-menu">
    <div class="menu-card">
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2F1qArvHQhI5aC42cKd3mIyxRPLVH921IM.png&sign=aHHALLnGUrBRaSjUMPodLi5bFBauwgE9VCVUUqveqVo">
        <div class="card-text">
          <p>Грибная</p>
          <p>тесто, сыр моцарелла, шампиньоны, соус "Ранч", сметанный соус</p>



        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2Fv3l5gSWHr6SKX5Jm2FJe72ozIuD_SlLL.png&sign=xz-T9ViZoNYGiqIul42ZJ1fTJFIYci9iBe-tM8JGHWY">
        <div class="card-text">
          <p>Маргарита </p>
          <p>тесто, томатный соус, сыр моцарелла, томаты, сметанный соус</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FqhK_fr7ldBLufv5gdAdX_NNY0WPH8maO.png&sign=NTa7LAzewIHCBnYFszHGmY2oVz9nclk1jRY8FRqYUjA">
        <div class="card-text">
          <p>Барбекю</p>
          <p>тесто, сыр моцарелла, шампиньоны, соус "Ранч", сметанный соус</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>

    </div>
    <div class="menu-card">
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FTCW3vmt1OXbTtvSpAoxplkgNqUe4bbDv.png&sign=KCpqkO3yHoIBzg0xMoPBQq-RjeAChbaSLA1ROW2OtPk">
        <div class="card-text">
          <p>Цезарь </p>
          <p>тесто, соус «Цезарь», сметанный соус, сыр моцарелла, копчёная курица, томаты, салат айсберг, сыр пармезан</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FnSqnJpatdAJ2senLBEu2GsQU6lPnnwY-.png&sign=VoxObNIoj7m956SkiGA044wmVUgHjlWsnQPxAQM7gZw">
        <div class="card-text">
          <p>Ветчина-грибы</p>
          <p>тесто, томатный соус, ветчина, шампиньоны, болгарский перец, сыр моцарелла, сметанный соус</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FTVL2izZ8Kt4bC50fvNyW5vCvO518FSZh.png&sign=aDzFk3jhoCCRLUw6FYrf8nIvpwn7ZRP-lPl03yMv65c">
        <div class="card-text">
          <p>Весёлая креветка</p>
          <p>тесто, тунцовый соус, креветки, томаты, сливочный сыр, сыр моцарелла, сметанный соус</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>

        </div>

      </div>
    </div>

    <h1 class="menu-m">Напитки</h1>
    <div class="menu-card">
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FMkAN2L7kELZwIP44ga1z0etEfXK8p8-V.png&sign=NjNLENxMAQA7jrizm9QK_dvJM6zIXEbmup6Mh1OjVHg">
        <div class="card-text">
          <p>Coca-cola</p>
          <p>Вес: 500 г.
            Калорийность: 42 Ккал / 0 кДж на 100 г.</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FEwHJ2l6qjnrHaXdDvcefK-1KCkBpWLjA.png&sign=T6cS7WRWk5BAC4wTZgSsPN3qCORHoviDWSoArnsjrZQ">
        <div class="card-text">
          <p>Bon Aqua негазированная
          </p>
          <p>Вес: 500 г.
          </p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FiuMrc06TeDIJUx6YJ6Ecf5IIjyyAzqnN.png&sign=aD7jw4DyJT9DB248PfH4ZLm0_HwhOyuFi0yIoA7hWF0">
        <div class="card-text">
          <p>Напитки из Черноголовки Байкал
          </p>
          <p>Вес: 500 г.
            Калорийность: 37 Ккал / кДж на 100 г.</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>

    </div>
    <div class="menu-card">
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FIgnTXSZ12ms9zCMmDszwRMqMqUfSahnP.png&sign=ecrJGu9s8qEPelFEURn62OwUcy5eNdMCaujKjWAaGy8">
        <div class="card-text">
          <p>Сок Яблоко
          </p>
          <p>Вес: 250 г.
            Калорийность: 45 Ккал / 100 кДж на 100 г.</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FuMkyxsDuxbST_y2-LtHBk_zHLuNqC9qn.png&sign=nxNCcZs3oRmFMZlHb4o4GmjbaCAybtsNFJoIUxbmr0E">
        <div class="card-text">
          <p>Сок Апельсин
          </p>
          <p>Вес: 200 г.
            Калорийность: 45 Ккал / 100 кДж на 100 г.</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
      <div class="card">
        <img src="https://image.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Favtosushi.ru%2Fimages%2Fstorage%2Fsource%2F1%2FxIYxVAa_UxGDtZxbJYK3xj8I7EvJGH5R.png&sign=ggzJPJFXX0HENODhDw5aGgoo7ISZxhSXCI1RqpCGGf4">
        <div class="card-text">
          <p>Сок Черешня
          </p>
          <p>Вес: 200 г.
            Калорийность: 50 Ккал / 100 кДж на 100 г.</p>


        </div>
        <div class="card-under">
          <p class="price">150р/шт</p>
          <button (click)="Caountplus()" class="button">Купить</button>
        </div>

      </div>
    </div>




  </div>
</div>
